@import '../abstarcts/variables.scss';

.io-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: $spacing-xl;
  border-radius: $border-radius;
  text-align: center;
  height: inherit;
  box-shadow: 0 0 2px 1px $primary;  
}