@import '../abstarcts/variables.scss';

.io-input {
  padding: $spacing-sm;
  margin: $spacing-sm;
  border-radius: $spacing-xs;
  border: none;
  box-shadow: 0 0 2px 1px $primary;  
  font-size: $spacing-md;
}

.io-input--textfield {
  max-width: $max-width/3;
  width: 100%;
  height: $max-width/6;
}

.io-input--submit {
  background: $primary;
  border: 1px solid white;
  font-weight: bold;
  box-shadow: none;
  color: white;

  &:hover {
    background: white;
    border: 1px solid $primary;
    user-select: none;
    cursor: pointer;
    color: $primary
  }
}

