@import '../abstarcts/variables.scss';

.io-link {
  display: block;
  color: white;
  font-size: $spacing-md;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken($color: white, $amount: 10%);
  }
}