@import '../abstarcts/variables.scss';

.io-logo {
  display: flex;
  width: max-content;
  font-size: 2 * $spacing-xl;

  & > a {
    text-decoration: none;
  }

  & > a > :first-child {
    color: $primary;
  }

  & > a > :nth-child(2n) {
    color: $secondary
  }
}