@import '../abstarcts/variables.scss';

.io-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2*$spacing-xl;

  & > :first-child {
    color: $info;
  }

  & > :nth-child(2n) {
    color: $success
  }
}