@import '../abstarcts/variables';

.io-modal__overlay {
  height: 100%;
  width: 100%;
  background: transparentize($color: #000000, $amount: 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  cursor: pointer;
}

.io-modal--open {
  overflow-y: hidden;
  position: fixed;
  height: max-content;
  width: 30%;
  min-width: 350px;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $spacing-xl auto;
  transform: translateY(0deg);
  opacity: 1;
}

.io-modal--close {
  transform: translateY(100deg);
  opacity: 0;
  display: none;
}