@import '../abstarcts/variables.scss';

.io-loginbox {
  display: flex;
  flex-direction: column;
  background: lighten($color: $teal, $amount: 40%);
  padding: $spacing-xl;
  border-radius: $spacing-xs;
  text-align: center;
}

input {
  padding: $spacing-sm;
  margin: $spacing-sm;
  border-radius: $spacing-xs;
  border: none;
  box-shadow: 0 0 2px 1px $cyan;  
  font-size: $spacing-md;
}

input[type='submit'] {
  background: $cyan;
  border: 1px solid transparent;
  font-weight: bold;

  &:hover {
    background: white;
    border: 1px solid $cyan;
    user-select: none;
    cursor: pointer;
  }
}

.io-loginbox__header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2*$spacing-xl;

  & > :first-child {
    color: $info;
  }

  & > :nth-child(2n) {
    color: $success
  }
}

.io-loginbox__link {
  color: $cyan;
  font-size: $spacing-md;
  text-decoration: none;

  &:hover {
    color: darken($color: $cyan, $amount: 10%);
  }
}

