@import '../../../styles/abstarcts/variables';


.io-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  padding: 0 $spacing-md;
  text-align: center;
  box-shadow: 0px -1px 4px 0px black;;  
}

.io-header__navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;

  & > div {
    color: $primary;
    font-weight: bold;
  }

  & > * {
  padding: 0 $spacing-sm;
  }
}