@import '../../../styles/abstarcts/variables';

.io-mainlayout {
  max-width: $max-width;
  margin: $spacing-lg auto;
}

.io-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lighten($color: $teal, $amount: 40%);
  padding: 0 $spacing-md;
  text-align: center;
  box-shadow: 0 0 4px 0 $cyan;  
}

.io-header__navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > * {
  padding: 0 $spacing-sm;
  }
}