@import '../abstarcts/variables.scss';

.io-landing {
  width: $max-width;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}